.meals {
  background-color: rgb(246, 238, 233);
  border-radius: 10px;
  padding: 20px;

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}

// responsive
@media (max-width: 1024px) {
  .meals {
    background-color: rgb(246, 238, 233);
    padding: 10px;
  }
}
