.meals {
  background-color: rgb(246, 238, 233);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
}

// responsive
@media (max-width: 1024px) {
  .meals {
    background-color: rgb(246, 238, 233);
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .meals {
    ul {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
    }
  }
}
