.recommended {
  text-align: center;
  margin: 30px 0px 50px;

  h4 {
    margin-bottom: 30px;
  }

  .swiperBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(81, 81, 81);
    background-image: url("../../assets/wooden-bacakground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    li {
      &:hover {
        background-color: white;
      }
    }
  }
}

@media (max-width: 1024px) {
  .recommended {
    text-align: center;
    margin: 30px 0px 30px;

    .swiperBox {
      max-width: 1400px;
      width: 100%;

      li {
        width: 80%;
      }
    }
  }
}
