@import "../../styles/animations";

.order-item {
  background-color: #f9f5f2;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  width: 100%;

  .info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    .title {
      font-size: 1.2rem;
      font-weight: 500;
      color: rgb(206, 77, 8);
    }

    p {
      font-size: 1.2rem;
      font-weight: 500;
      color: white;
      border-radius: 4px;
      background-color: rgb(220, 38, 38);
      padding: 5px;

      i {
        font-size: 0.9rem;
      }
    }
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    position: relative;

    img {
      max-width: 100px;
      max-height: 90px;
      position: absolute;
      left: 0;
    }

    .options-box {
      display: flex;
      align-items: center;

      i {
        font-size: 1rem;
        color: white;
        background-color: rgb(220, 38, 38);
        border-radius: 4px;
        padding: 2px 4px;
        cursor: pointer;
        animation: scaleDown 0.2s linear forwards;
        transition: 0.15s ease-out;

        &:hover {
          animation: scaleUp 0.1s linear forwards;
          cursor: pointer;
          background-color: rgb(255, 101, 18);
          transition: 0.15s ease-in;
        }
      }

      .amount-box {
        width: 40px;
        border: 2px solid rgba(43, 43, 43, 0.788);
        border-radius: 4px;
        margin: 0px 7px;

        p {
          font-size: 1.2rem;
          font-weight: 500;
          margin: 5px;
        }
      }
    }
  }

  button {
    float: right;
    border: none;
    outline: none;
    animation: scaleDown 0.2s linear forwards;
    transition: 0.15s ease-out;

    &:hover {
      animation: scaleUp 0.1s linear forwards;
      cursor: pointer;
      transition: 0.15s ease-in;
    }

    i {
      font-size: 1.2rem;
      color: rgba(43, 43, 43);
    }
  }
}
