.categories {
  margin-bottom: 30px;
  .swiperBox {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .categories {
    margin-bottom: 20px;

    .swiperBox {
      max-width: 100%;
    }
  }
}
