.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.pop-up {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%) !important;
  max-width: 800px;
  width: 95%;
  height: 600px;
  background-color: #f5f3f4;
  padding: 20px;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

::-webkit-scrollbar {
  display: none;
}

// responsive
@media (max-width: 1024px) {
  .pop-up {
    max-width: 100%;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
